categoryId,name,modifiedOn,displayName,seoCategoryName,categoryDescription,categoryPageTitle,sealedLabel,nonSealedLabel,conditionGuideUrl,isScannable,popularity,isDirect
3,Pokemon,2026-09-30T18:33:14.417,Pokemon,Pokemon,"Trainers, your Pokémon adventure starts here!","TCGplayer - Buy Pokémon TCG Cards",Sealed Products,Single Cards,https://store.tcgplayer.com/help/cardconditionguide,True,576635,True
68,One Piece Card Game,2026-09-29T12:00:00,One Piece Card Game,One Piece Card Game,"Set sail for One Piece singles and sealed.","TCGplayer - Buy One Piece Cards",Sealed Products,Single Cards,https://store.tcgplayer.com/,True,120000,True
